@model CaptchaManager.DataAccess.users

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>users</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.serial)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.serial)
            @Html.ValidationMessageFor(model => model.serial)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.type)
            @Html.ValidationMessageFor(model => model.type)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

