@model CaptchaManager.DataAccess.users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div class="hero-unit">   
<fieldset>
    <legend>users</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.serial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.serial)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.type)
    </div>
</fieldset>
    </div>


<div class="hero-unit">   
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    </div>