@model IEnumerable<CaptchaManager.DataAccess.captchas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soundsFormat.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagesFormat.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagesComplex.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soundsFormat.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagesFormat.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.imagesComplex.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
